.sidebar {
  grid-area: s;
  background-color: #636e72;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 10px;
  border-right: 4px solid #6d214f;

  .sidebar__title {
    font-family: "Sansita Swashed", cursive;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 30px;
  }
  .sidebar__nav {
    font-family: "Sansita Swashed", cursive;
    font-weight: 700;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;

    ul {
      .sidebar__li {
        display: block;
        &:not(:first-child) {
          margin-top: 20px;
        }
        li {
          color: black;
          cursor: pointer;

          &:hover {
            color: #6d214f;
          }
        }
      }
      .sidebar__name {
        text-align: center;
        font-size: 20px;
        font-style: normal;
        border: 3px solid #6d214f;
        border-radius: 30px;
        background-color: #fff;
        i {
          margin-left: 6px;
          cursor: pointer;
          color: black;
        }
      }
    }
  }
  .sidebar__search {
    font-weight: 600;
    margin-bottom: 20px;
    p {
      cursor: pointer;
      display: inline-block;
    }
  }
  .sidebar__cart {
    font-weight: 600;
    margin-bottom: 30px;
    p {
      color: black;
      cursor: pointer;
      display: inline-block;
      &:hover {
        color: #6d214f;
      }
    }
    span {
      color: #fbb710;
    }
  }
  .sidebar__link {
    display: flex;
    button {
      width: 30px;
      height: 30px;
      padding: 2px;
      &:not(:last-child) {
        margin-right: 10px;
      }
      &:hover {
        background-color: #6d214f;
        color: #fff;
      }
    }
  }
}
