.app {
  display: grid;
  min-height: 100vh;
  max-width: 1360px;
  margin: 0px auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "s p p p"
    "f f f f";
}

.sidebar {
  grid-area: s;
  background-color: #636e72;
  height: 100%;
}

.pages {
  grid-area: p;
  background-color: gray;
}

.footer {
  grid-area: f;
  background-color: green;
  min-height: 200px;
}
